#concertSearchBut {
  background-color: #418fde;
  width: 10%;
  padding: 5px;
  color: white;
  font-size: 10px;
  border: 2px solid grey;
  /* Prevent double borders */
  border-left: none;
  cursor: pointer;
}

#concertSearchBut:hover {
  background: navy;
}

/* #concertSearch {
  background-color: #418fde;
  width: auto;
  height: 20%; */
/* } */

#concertResults {
  border: 2px solid goldenrod;
  background: #418fde;
}
